<style>
    .carsousel_frame{background: #fff; padding-bottom: 1em;}
    .carsousel_frame .carsousel_header {border-bottom: 1px dotted rgba(0, 0, 0, 0.2); padding: 1em; margin-bottom: 1em; position: relative}
    .carsousel_frame .carsousel_header span {margin-left: 1em;}
    .carsousel_frame .carsousel_body {padding:0 14px;}
    .carsousel_add_btn {margin-bottom:1em;position: absolute;right: 14px;bottom:-10px;}
    .href_text {text-decoration: underline;cursor: pointer}
</style>
<div class="row">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            权限管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">权限管理</a>
            </li>
            <li class="active"> 用户列表 </li>
        </ul>
        <div class="state-info">
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>yearly expense</span>
                        <h3 class="red-txt">$ 45,600</h3>
                    </div>
                    <div id="income" class="chart-bar"></div>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>yearly  income</span>
                        <h3 class="green-txt">$ 45,600</h3>
                    </div>
                    <div id="expense" class="chart-bar"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- page heading end-->

    <div class="row" ng-controller="userListCtrl">

        <div class="col-md-12">
            <div class="carsousel_frame">
                <div class="carsousel_inner">
                    <div class="carsousel_header">
                        <a href="#addUser" class="btn btn-success pull-right carsousel_add_btn"><i class="fa fa-plus" style="margin-right: 0.5em;"></i>添加用户</a>
                        <i class="fa fa-th-list"></i><span style="font-weight: 700">用户列表</span>
                    </div>
                    <!--<h4 style="float: right">设置</h4>-->
                    <div class="carsousel_body">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>员工编号</th>
                                <th>姓名</th>
                                <th>所属部门</th>
                                <th>职位</th>
                                <th>电话号码</th>
                                <th>角色分配</th>
                                <th>电子邮件</th>
                                <th style="text-align: center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in empInfoList">
                                <td><span ng-bind="$index+1"></span></td>
                                <td>001001</td>
                                <td><span ng-bind="item.EMPLOYEE_NAME"></span></td>
                                <td><span ng-bind="item.DEPARTMENT"></span></td>
                                <td><span ng-bind="item.JOB_NAME"></span></td>
                                <td><span ng-bind="item.PHONE"></span></td>
                                <td>一般管理员</td>
                                <td><span ng-bind="item.EMAL"></span></td>
                                <td style="text-align: center">
                                    <button class="btn btn-success">编辑</button>
                                    <button class="btn btn-success" ng-click="removeItem($index,item)">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="clear: both"></div>
                </div>

            </div>
        </div>


    </div>

</div>


