.border-shadow {
  box-shadow: 0 10px 8px rgba(59, 62, 65, 0.32);
  border-radius: 0 20px 20px 0;
}
.usercon {
  width: 1037px;
  height: 788px;
  background: #fff;
  box-shadow: 0 10px 8px rgba(59, 62, 65, 0.32);
  border-radius: 0 20px 20px 0;
}
