.border-shadow {
  box-shadow: 0 10px 8px rgba(59, 62, 65, 0.32);
  border-radius: 0 20px 20px 0;
}
.usercon .tradlog {
  position: relative;
  width: 1037px;
  height: 758px;
  background: #fff;
  box-shadow: 0 10px 8px rgba(59, 62, 65, 0.32);
  border-radius: 0 20px 20px 0;
}
.usercon .tradlog table {
  width: 980px;
  margin-left: 30px;
}
.usercon .tradlog table tr {
  border-bottom: 1px solid #e1e1e1;
}
.usercon .tradlog table tr th {
  font-size: 16px;
  color: #ff6868;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #e1e1e1;
}
.usercon .tradlog table tr td {
  font-size: 16px;
  color: #666;
  line-height: 70px;
  text-align: center;
}
.usercon .tradlog .unit {
  position: absolute;
  right: 52px;
  bottom: 42px;
  font-size: 12px;
  color: #666;
}
