<!--description 设置首页的轮播图片-->
<style>
    .carsousel_frame{background: #fff; padding-bottom: 1em;}
    .carsousel_frame .col-md-1 label {line-height: 34px}
    .carsousel_frame .col-md-1 {padding-right: 0}
    .carsousel_frame .carsousel_header {border-bottom: 1px dotted rgba(0, 0, 0, 0.2); padding: 1em; margin-bottom: 1em; position: relative}
    .carsousel_frame .carsousel_header span {margin-left: 1em;}
    .carsousel_frame .carsousel_body {padding:0 14px;}
    .carsousel_frame .carsousel_body .input_text{height: 34px;border:1px #e5e5e5 solid;padding-left: 0.5em;width: 100%}
    .carsousel_frame .carsousel_body .row {margin-bottom: 1em;}
    .carsousel_add_btn {margin-bottom:1em;position: absolute;right: 14px;bottom:-10px;}
    .href_text {text-decoration: underline;cursor: pointer}
    .carsousel_frame .input_textarea { width: 100%; height: 200px; border: 1px solid #e5e5e5;resize: none }
    .hidden_frame {display: none}

    .input_select {width: 220px; height: 34px; line-height: 34px; background-color: #fff; border: 1px solid #e5e5e5;}
</style>

<div class="row">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            第三方平台管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">第三方平台管理</a>
            </li>
            <li class="active"> 修改投标信息 </li>
        </ul>
        <div class="state-info">
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>yearly expense</span>
                        <h3 class="red-txt">$ 45,600</h3>
                    </div>
                    <div id="income" class="chart-bar"></div>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>yearly  income</span>
                        <h3 class="green-txt">$ 45,600</h3>
                    </div>
                    <div id="expense" class="chart-bar"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- page heading end-->

    <div class="row" ng-controller="produceCtrl">

        <div class="col-md-12">
            <div class="carsousel_frame">
                <div class="carsousel_inner">
                    <div class="carsousel_header">
                        <!--<a href="#addCarouselImg" class="btn btn-success pull-right carsousel_add_btn"><i class="fa fa-plus" style="margin-right: 0.5em;"></i>添加图片</a>-->
                        <i class="fa fa-th-list"></i><span style="font-weight: 700">修改投标信息</span>
                    </div>
                    <!--<h4 style="float: right">设置</h4>-->
                    <div class="carsousel_body" style="padding-left: 2em">
                        <div class="row">
                            <div class="col-md-1"><label>标名:</label></div>
                            <div class="col-md-4">

                                <input class="input_text" ng-model="newProduce.name" type="text" placeholder="标名">
                            </div>
                            <!-- 隐藏域内容 -->
                            <!-- ID -->
                            <input type="text" ng-model="newProduce.id" style="display: none;" name="produceId"/>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><label>所属平台:</label></div>
                            <div class="col-md-4">
                                <!--<select class="input_select" style="width: 100%" ng-model="produce.platformId">-->
                                <!--<option value="0">富金利</option>-->
                                <!--<option value="1">陆金所</option>-->
                                <!--<option value="2">投哪网</option>-->
                                <!--</select>-->
                                <select required name="topModule" class="input_select" style="width: 100%" ng-model="newProduce.platformId" ng-options = "m.ID as m.P_NAME for m in platformList" ng-change="moduleSelectedChange(produce.platformId)">
                                    <option value="">== 请选择 ==</option>
                                </select >
                            </div>
                            <div class="col-md-1"><label>所属模块:</label></div>
                            <div class="col-md-4">
                                <select required name="topModule" class="input_select" style="width: 100%" ng-model="newProduce.module" ng-options = "m.DDLCODE as m.DDLNAME for m in bidCategoryList" ng-change="moduleSelectedChange(produce.module)">
                                    <option value="">== 请选择 ==</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-1"><label>计息方式：</label></div>
                            <div class="col-md-4">
                                <select required name="topModule" class="input_select" style="width: 100%" ng-model="newProduce.bearingWay" ng-options = "m.DDLCODE as m.DDLNAME for m in bearingWayList" ng-change="moduleSelectedChange(produce.bearingWay)">
                                    <option value="">== 请选择 ==</option>
                                </select>
                            </div>
                            <div class="col-md-1"><label>项目总额：</label></div>
                            <div class="col-md-4">
                                <input type="text" ng-model="newProduce.totalCapital" class="input_text" name="carsouel_img" placeholder="项目总额(元)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><label>年化收益：</label></div>
                            <div class="col-md-4">
                                <input type="text" ng-model="newProduce.annualRate" class="input_text" name="carsouel_img" placeholder="年化收益(%)" />
                            </div>
                            <div class="col-md-1"><label>平台加息:</label></div>
                            <div class="col-md-4">
                                <input class="input_text" ng-model="newProduce.selfAnnualRate" type="text"  placeholder="平台加息(%)"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><label>期限：</label></div>
                            <div class="col-md-4">
                                <input type="text" ng-model="newProduce.term" class="input_text" name="carsouel_img" placeholder="期限(个月)" />
                            </div>
                            <div class="col-md-1"><label>起投金额:</label></div>
                            <div class="col-md-4">
                                <input class="input_text" ng-model="newProduce.startMount" type="text" placeholder="起投金额(元)"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><label>保障方式：</label></div>
                            <div class="col-md-4">
                                <select required name="topModule" class="input_select" style="width: 100%" ng-model="newProduce.safeGuardWay" ng-options = "m.DDLCODE as m.DDLNAME for m in guaranteeWayList" ng-change="moduleSelectedChange(produce.safeGuardWay)">
                                    <option value="">== 请选择 ==</option>
                                </select>
                            </div>
                            <div class="col-md-1"><label>还款方式:</label></div>
                            <div class="col-md-4">
                                <select required name="topModule" class="input_select" style="width: 100%" ng-model="newProduce.repaymentWay" ng-options = "m.DDLCODE as m.DDLNAME for m in repaymentWayList" ng-change="moduleSelectedChange(produce.repaymentWay)">
                                    <option value="">== 请选择 ==</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><label>描述信息:</label></div>
                            <div class="col-md-9"><textarea class="input_textarea" ng-model="newProduce.description"></textarea></div>
                        </div>

                        <div class="carsousel_footer">
                            <div class="col-md-6 setting_footer_inner">
                                <button class="btn btn-success" type="button" ng-click="updateProduceInfo(newProduce)"><i class="fa fa-check" style="margin-right: 0.5em;"></i>提交</button>
                                <a class="btn btn-success" style="margin-left: 1em;" href="javascript:history.go(-1);"><i class="fa fa-mail-reply" style="margin-right: 0.5em;"></i>返回</a>
                            </div>
                        </div>

                    </div>
                    <div style="clear: both"></div>
                </div>

            </div>
        </div>


    </div>
</div>