<!-- usercontent-->
<div class="usercon">
    <div class="integral">
        <div class="itemtitle"><span>我的积分</span></div>
        <ul>
            <li>可用积分：<span>0</span></li>
            <li>
                <p>本月获得：<span>0</span></p>
                <p>累计获得：<span>0</span></p>
            </li>
            <li><a href=""><div>积分换礼</div></a></li>
        </ul>
    </div>
    <div class="detail">
        <div class="itemtitle">
            <span>积分明细</span>
            <a class="rule" href="">积分规则</a>
        </div>
        <table>
            <tr>
                <th>时间</th>
                <th>来源</th>
                <th>积分动态</th>
                <th>积分合计</th>
            </tr>
            <tr>
                <td>2016.07.07</td>
                <td>投资</td>
                <td>+20</td>
                <td>220</td>
            </tr>
        </table>
    </div>
</div>