<!-- usercontent-->
<div class="usercon">
    <div class="myinvite">
        <div class="itemtitle"><span>我的推广</span></div>
        <ul>
            <li>累计奖励（元）：<span>0</span></li>
            <li>成功推荐（人）：<span>0</span></li>
            <li>累计推荐（人）：<span>0</span></li>
        </ul>
    </div>
    <div class="mylink">
        <div class="itemtitle">
            <span>我的推广</span>
            <div class="linkbox">http://www.yott.cn/Home/Index/register/invitcode/IjNzgTM.html</div>
            <a href="javascript:void(0);">复制</a>
        </div>
    </div>
    <div class="mylist">
        <div class="itemtitle">
            <span>推荐列表</span>
            <a class="rule" href="">奖励规则</a>
        </div>
        <table>
            <tr>
                <th>被推荐人</th>
                <th>注册时间</th>
                <th>首投金额</th>
                <th>产品期限</th>
                <th>审核状态</th>
            </tr>
            <tr>
                <td>被推荐人</td>
                <td>注册时间</td>
                <td>首投金额</td>
                <td>产品期限</td>
                <td>审核状态</td>
            </tr>
        </table>
    </div>
</div>