<!-- usercontent-->
<div class="usercon" ng-controller=""redPacketCtrl>
    <div class="cash">
        <div class="itemtitle">
            <span>现金红包</span>
            <a class="rule" href="">获取红包</a>
        </div>
        <ul class="list">
            <li>
                <p><span class="f30">20</span> 元</p>
                <div class="time">截止日期：2016.07.26</div>
            </li>
            <li>
                <p><span class="f30">20</span> 元</p>
                <div class="time">截止日期：2016.07.26</div>
            </li>
        </ul>
    </div>
    <div class="rate">
        <div class="itemtitle"><span>加息红包</span></div>
        <ul class="list">
            <li>
                <p><span class="f30">20</span> 元</p>
                <div class="time">截止日期：2016.07.26</div>
            </li>
            <li>
                <p><span class="f30">20</span> 元</p>
                <div class="time">截止日期：2016.07.26</div>
            </li>
        </ul>
    </div>
</div>