<!-- usercontent-->
<div class="usercon">
    <div class="tradlog">
        <div class="itemtitle"><span>交易记录</span></div>
        <table>
            <tr>
                <th>交易类型</th>
                <th>交易金额</th>
                <th>资金总额</th>
                <th>可用余额</th>
                <th>冻结总额</th>
                <th>待收总额</th>
                <th>时间</th>
            </tr>
            <tr>
                <td>提现</td>
                <td>200</td>
                <td>88800</td>
                <td>4440065</td>
                <td>4440065</td>
                <td>460</td>
                <td>2016.07.06</td>
            </tr>
        </table>
        <p class="unit">以上金额单位（元）</p>
    </div>
</div>